body{
  background:#020617;
  color:#e5e7eb;
  font-family:system-ui;
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
}

.card{
  background:#0f172a;
  padding:28px;
  border-radius:20px;
  width:320px;
  text-align:center;
  box-shadow:0 30px 80px rgba(0,0,0,.8);
}

input,button{
  width:100%;
  padding:12px;
  margin:8px 0;
  border-radius:12px;
  border:none;
}

button{
  background:#38bdf8;
  color:#020617;
  font-weight:600;
  cursor:pointer;
}
