.container {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
  }
}